<?php
/**
 * @author Steffen Zeidler <sigma_z@sigma-scripts.de>
 * Date: 30.12.12
 */

return array(
    'sources' => array(
        'C:' => array(
            'target' => 'F:/backup/c/%date% %mode%',
            'excludePaths' => array(),
            'excludeNames' => array('hiberfil.sys', 'pagefile.sys')
        )
    ),
    'excludeNames' => array('$RECYCLE.BIN', 'Config.Msi', 'System Volume Information', 'Temp')
);
